﻿<div>
    <form name="publisherCreateForm" role="form" novalidate class="form-validation">
        <div class="modal-header bg-primary">
            <h4 style="color: white"><i class="fa fa-university" aria-hidden="true"></i> Adicionar Editora</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label>Nome:</label>
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="text" ng-model="ctrDialogPublisher.publisher.nome" required/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label>Endereco:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" ng-model="ctrDialogPublisher.publisher.endereco" required/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label>Telefone:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" ng-model="ctrDialogPublisher.publisher.telefone" required/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-right">
                <button type="button" class="btn btn-primary blue pull-right" ng-click="ctrDialogPublisher.save();" ng-disabled="publisherCreateForm.$invalid">
                    <span style="color: white"><i class="fa fa-save"></i>&nbsp;SALVAR</span>
                </button>
            </div>
            <div class="col-md-1 pull-right">
                <button type="button" class="btn btn-default pull-right" ng-click="ctrDialogPublisher.cancel();">
                    <span class="fa fa-times" style="color: white">&nbsp;CANCELAR</span>
                </button>
            </div>
        </div>
    </form>
</div>