﻿<div ng-controller="app.views.publishers.index as vm">
    <h1>Editoras</h1>
    <div class="form-group pull-right">
        <button type="button" class="btn bg-primary pull-right" ng-click="vm.openDialog(false);">
            <span class="fa fa-plus" style="color: white">&nbsp;Adicionar Editora</span>
        </button>
    </div>
    <form class="col-md-6">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Pesquisar..." ng-model="searchQuery">
            </div>
        </div>
    </form>
    <div class="col-md-12">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>&nbsp;Nome</th>
                    <th>&nbsp;Endereco</th>
                    <th>&nbsp;Telefone</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.listPublisher | filter:searchQuery">
                    <td>&nbsp;{{item.nome}}</td>
                    <td>&nbsp;{{item.endereco}}</td>
                    <td>&nbsp;{{item.telefone}}</td>
                    <td class="col-md-1">
                        <a class="glyphicon glyphicon-pencil" ng-click="vm.openDialog(item, true);" title="EDITAR"></a>
                    </td>
                    <td class="col-md-1">
                        <a class="fa fa-trash text-danger" ng-click="vm.deletePublisher(item);" title="DELETAR"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>