﻿<div>
    <form name="bookCreateForm" role="form" novalidate class="form-validation">
        <div class="modal-header bg-primary">
            <h4 style="color: white"><i class="fa fa-book" aria-hidden="true"></i> Adicionar Livro</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label>Titulo:</label>
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="text" ng-model="ctrDialogBook.book.titulo" required/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label>Isbn:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" ng-model="ctrDialogBook.book.isbn" required/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label>Genero:</label>
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="text" ng-model="ctrDialogBook.book.genero" required/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label>Edicao:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" ng-model="ctrDialogBook.book.edicao" required/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label>Ano:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" ng-model="ctrDialogBook.book.ano" required/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label>Idioma:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" ng-model="ctrDialogBook.book.idioma" required/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="sel1">Selecione o autor:</label>
                            </div>
                            <div ng-if="ctrDialogBook.listAuthor.length > 0" class="col-md-6">
                                <select class="form-control" ng-model="ctrDialogBook.book.author" ng-options="item.firstName for item in ctrDialogBook.listAuthor"></select>
                            </div>
                            <div ng-if="ctrDialogBook.listAuthor.length <= 0" class="col-md-12">
                                <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Não existem autores cadastrados</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="sel1">Selecione a editora:</label>
                            </div>
                            <div ng-if="ctrDialogBook.listPublisher.length > 0" class="col-md-6">
                                <select class="form-control" ng-model="ctrDialogBook.book.publisher" ng-options="item.nome for item in ctrDialogBook.listPublisher"></select>
                            </div>
                            <div ng-if="ctrDialogBook.listPublisher.length <= 0" class="col-md-12">
                                <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Não existem editoras cadastradas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-right">
                <button type="button" class="btn btn-primary pull-right" ng-click="ctrDialogBook.save();" ng-disabled="bookCreateForm.$invalid">
                    <span style="color: white"><i class="fa fa-save"></i>&nbsp;SALVAR</span>
                </button>
            </div>
            <div class="col-md-1 pull-right">
                <button type="button" class="btn btn-default pull-right" ng-click="ctrDialogBook.cancel();">
                    <span class="fa fa-times" style="color: white">&nbsp;CANCELAR</span>
                </button>
            </div>
        </div>
    </form>
</div>