﻿<div ng-controller="app.views.books.index as vm">
    <h1>Livros</h1>
    <div class="form-group pull-right">
        <button type="button" class="btn bg-primary pull-right" ng-click="vm.openDialog(false);">
            <span class="fa fa-plus" style="color: white">&nbsp;Adicionar Livro</span>
        </button>
    </div>
    <form class="col-md-6">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Pesquisar..." ng-model="searchQuery">
            </div>
        </div>
    </form>
    <div class="col-md-12">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>&nbsp;Titulo</th>
                    <th>&nbsp;Isbn</th>
                    <th>&nbsp;Genero</th>
                    <th>&nbsp;Edicao</th>
                    <th>&nbsp;Ano</th>
                    <th>&nbsp;Idioma</th>
                    <th>&nbsp;Autor</th>
                    <th>&nbsp;Editora</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.listBook | filter:searchQuery">
                    <td>&nbsp;{{item.titulo}}</td>
                    <td>&nbsp;{{item.isbn}}</td>
                    <td>&nbsp;{{item.genero}}</td>
                    <td>&nbsp;{{item.edicao}}</td>
                    <td>&nbsp;{{item.ano}}</td>
                    <td>&nbsp;{{item.idioma}}</td>
                    <td>&nbsp;{{item.author.firstName + " " + item.author.lastName}}</td>
                    <td>&nbsp;{{item.publisher.nome}}</td>
                    <td class="col-md-1">
                        <a class="glyphicon glyphicon-pencil" ng-click="vm.openDialog(item, true);" title="EDITAR"></a>
                    </td>
                    <td class="col-md-1">
                        <a class="fa fa-trash text-danger" ng-click="vm.deleteBook(item);" title="DELETAR"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
