﻿<div>
    <form name="authorCreateForm" role="form" novalidate class="form-validation">
        <div class="modal-header bg-primary">
            <h4 style="color: white"><i class="fa fa-user" aria-hidden="true"></i> Adicionar Autor</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label>Primeiro Nome:</label>
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="text" ng-model="ctrDialogAuthor.author.firstName" required/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label>Ultimo Nome:</label>
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="text" ng-model="ctrDialogAuthor.author.lastName" required/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-right">
                <button type="button" class="btn btn-primary pull-right" ng-click="ctrDialogAuthor.save();" ng-disabled="authorCreateForm.$invalid">
                    <span style="color: white"><i class="fa fa-save"></i>&nbsp;SALVAR</span>
                </button>
            </div>
            <div class="col-md-1 pull-right">
                <button type="button" class="btn btn-default pull-right" ng-click="ctrDialogAuthor.cancel();">
                    <span class="fa fa-times" style="color: white">&nbsp;CANCELAR</span>
                </button>
            </div>
        </div>
    </form>
</div>